.crypFeatureItem {
  background: #ffffff;
  border-radius: 15px;
  padding: 25px;

  .crypftop {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .icon {
      max-width: 40px;
      margin-right: 20px;
    }

    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.116667px;
      color: #111026;
      margin-right: 30px;
    }

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.1px;
      color: #37D16A;

      &.danger {
        color: #DE4848;
      }

      i {
        margin-right: 15px;
      }
    }
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.116667px;
    color: #111026;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      font-size: 22px;
    }
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #878AA0;
  }
}
