.tradeHistory {
  table {
    tr {
      th {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1px;
        color: #878AA0;
        padding: 9px 0;
      }

      td {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1px;
        color: #111026;
        padding: 10px 0;
        border-bottom: 1px solid #F1F1F5;
      }
    }
  }
}
